.inputs {
  display: flex;
  gap: 1rem;
}

.inputText {
  width: 39.813rem;
  height: 3.313rem;

  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);

  font-weight: 400;
  font-size: 1rem;
  background-color: var(--gray-500);
}

.Button {
  display: flex;
  align-items: center;
  background-color: var(--blueDark);
  color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.Button:hover {
  background-color: #0069d9;
}

.ButtonText {
  margin-left: 0rem;
}

.Button:hover {
  background: var(--blue);
}
