.inputText {
  width: 39.813rem;
  height: 3.313rem;

  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);

  font-weight: 400;
  font-size: 1rem;
  background-color: var(--gray-500);
}

.inputButton {
  width: 5.625rem;
  height: 3.25rem;

  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.4;

  font-weight: 700;
  background-color: var(--blueDark);
  color: var(--gray-100);
}

.inputButton:hover {
    background: var(--blue);
}
