.inputText {
  width: 39.875rem;
  height: 3.375rem;

  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  color: var(--gray-100);

  font-weight: 700;
  font-size: 1rem;
  background-color: var(--gray-500);
}

.inputButton {
  width: 5.625rem;
  height: 3.25rem;

  border-radius: 0.5rem;
  padding: 1rem;

  font-weight: 700;
  background-color: var(--blueDark);
  color: var(--gray-100);

}
