.taskContent {
  border-radius: 0.5rem;
  background-color: var(--gray-400);
  padding: 1rem;

  display: flex;
  align-items: center;
}

.taskText {
  flex: 1;
  margin-left: 0.625rem;

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.225rem;
}

.taskContent input[type="checkbox"] {
  margin-right: 10px;
}

.taskContent button {
  margin-left: auto;
}


.checkbox-custom {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkbox-custom input[type="checkbox"] {
  opacity: 0;
}

.checkbox-custom .checkmark {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #e6f2ff; /* cor de fundo azul claro */
  border: 2px solid #ff69b4; /* cor da borda rosa */
}

.checkbox-custom input[type="checkbox"]:checked + .checkmark::before {
  content: "\2713"; /* caractere unicode para o símbolo de check */
  display: block;
  position: absolute;
  top: 2px;
  left: 6px;
  font-size: 14px;
  color: #ff69b4; /* cor do símbolo de check */
}

.checkbox-custom .checkmark::before {
  content: "";
  display: none;
}