.taskInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}

.taskCheckBox {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  cursor: pointer;
  font-size: 14px;
}

/* Esconder o checkbox padrão */
.taskCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Criar o checkbox customizado */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 2px;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.taskCheckBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.taskCheckBox input:checked ~ .checkmark {
  background-color: #ff0a54;
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.taskCheckBox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.taskCheckBox input:checked ~ .checkmark:after {
  display: block;
}


button {
}