
.taskHeader {
  display: flex;
  justify-content: space-between;
}

.taskCreated {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;

}

.taskConcluded {
  color: var(--purble);
  font-size: 0.875rem;
  font-weight: 700;

}

.taskHeaderNameConcluded {
    color: var(--purble);
}