.taskBox {
    border-radius: 0.5rem;
    border-top: 1px solid var(--gray-400);
}

.taskContent {
    padding:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.taskContent img {
    margin-bottom: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}

.taskContent strong {
    color: var(--gray-300);
    font-weight: bold;
    line-height: 22.4px;

}

.taskContent p {
    color: var(--gray-300);
    line-height: 22.4px;
}