.taskHeader {
  display: flex;
  justify-content: space-between;

  /* background-color: red; */
}

.taskCreated {
  display: flex;
  gap: 0.5rem;
}

.taskCreated p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.taskCounterCreate {
    width: 25px;
    height: 19px;
    border-radius: 999px;
    padding: 2px, 8px, 2px, 8px;

    background-color: var();
}


.taskConcluded {
  display: flex;
  gap: 0.5rem;

}

.taskConcluded p {
  color: var(--purble);
  font-size: 0.875rem;
  font-weight: 700;
}
