.taskBox {
    color: blue;
    background-color: blue;
}

.taskContent {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.taskContent img {
    width: 3.5rem;
    height: 3.5rem;
}