.taskContent {
  width: 46rem;

  display: flex;
  align-items: center;
}

.taskText {
  flex: 1;
  margin-left: 0.625rem;
}

.taskContent input[type="checkbox"] {
  margin-right: 10px;
}

.taskContent button {
  margin-left: auto;
}
