.task {
  color: red;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
}

.taskHeaderP1 {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 16px;

}

.taskHeaderP2 {
  color: var(--purble);
  font-size: 0.875rem;
  font-weight: 700;
  /* line-height: 16px; */

}
