.checkboxButton {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.taskContent {
  flex: 1;
  margin-left: 0.625;
}


  .checkboxButton input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkboxButton button {
    margin-left: auto;
  }